<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- password=sql2005 ; pc = digupc024-->
    <!--<add key="conectar1" value="Persist Security Info=False;User ID=sa;pwd=Server2018*;Data Source=DESKTOP-6Q1D00M;Initial Catalog="></add>
    <add key="Base" value="INFOBI"></add>
    -->
    <add key="Base" value="Comision_Config"></add>
    <add key="conectar1" value="Persist Security Info=False;User ID=sa;pwd=Server2018*;Data Source=DESKTOP-6Q1D00M;Initial Catalog="></add>
    
    <add key="RutaArch" value="c:\temp"></add>
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>